<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
 		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<context:annotation-config />
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="oracleDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<!-- Oracle -->
		<property name="driverClass">
			<value>oracle.jdbc.OracleDriver</value>
		</property>
		<property name="jdbcUrl" value="jdbc:oracle:thin:@10.253.93.14:1521:test" />
		<property name="user" value="etl_test2" />
		<property name="password" value="etl_test2" />
		<!-- PostgreSQL -->
		<!--
		<property name="driverClass">
			<value>org.postgresql.Driver</value>
		</property>
    	<property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/winpgsql"/>
		<property name="user" value="scott"/>
    	<property name="password" value="tiger"/>
		 -->
		<property name="minPoolSize">
			<value>1</value>
		</property>
		<property name="maxPoolSize">
			<value>20</value>
		</property>
		<property name="maxIdleTime">
			<value>1800</value>
		</property>
		<property name="acquireIncrement">
			<value>2</value>
		</property>
		<property name="maxStatements">
			<value>0</value>
		</property>
		<property name="initialPoolSize">
			<value>2</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>1800</value>
		</property>
		<property name="acquireRetryAttempts">
			<value>30</value>
		</property>
		<property name="breakAfterAcquireFailure">
			<value>false</value>
		</property>
		<property name="testConnectionOnCheckout">
			<value>false</value>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="oracleDataSource" />
	</bean>
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource" ref="oracleDataSource" />
		<property name="configLocation" value="WEB-INF/contextSqlMapConfig.xml" />
	</bean>
	<bean id="sqlExecutor" class="org.apache.ibatis.ext.executor.XSqlExecutor">
		<property name="dialect">
			<!-- sqlserver2005 -->
			<!-- <bean class="com.alipay.common.dialect.impl.SQLServer2005Dialect"/> -->
			<!-- mysql -->
			<!-- <bean class="com.alipay.common.dialect.impl.MySQLDialect" /> -->
			<!--oracle -->
			<bean class="org.apache.ibatis.ext.dialect.impl.OracleDialect" />
		</property>
		<property name="enableLimit">
			<value>true</value>
		</property>
	</bean>

	<bean id="baseDao" abstract="true" class="com.alipay.etl2.dao.impl.BaseDao" init-method="initialize">
		<property name="dataSource">
			<ref bean="oracleDataSource" />
		</property>
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
		<property name="sqlExecutor">
			<ref bean="sqlExecutor" />
		</property>
	</bean>		
</beans>